<div class="form-container">
  <h1>Edit Transfer</h1>
@if(transfer) {
  <div class="row">
    <button mat-button routerLink="/transfer">←</button>
  </div>
    <form #formEditTransfer="ngForm">
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input matInput [(ngModel)]="transfer.id">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Transfer fee</mat-label>
      <input matInput [(ngModel)]="transfer.transferfee" required #transferfee="ngModel" name="transferfee">
      @if(transferfee.invalid){
        <span style="background-color: red;">Transfer fee must be provided</span>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Transfer date</mat-label>
      <input matInput [(ngModel)]="transfer.transferdate" required #transferdate="ngModel" name="transferdate">
    </mat-form-field>

    <mat-form-field>
      <mat-label>To Club ID</mat-label>
      <input matInput [(ngModel)]="transfer.toclubid" required #toclubid="ngModel" name="toclubid">
    </mat-form-field>

    <mat-form-field>
      <mat-label>From Club ID</mat-label>
      <input matInput [(ngModel)]="transfer.fromclubid" required #fromclubid="ngModel" name="fromclubid">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Player ID</mat-label>
      <input matInput [(ngModel)]="transfer.playerid" required #playerid="ngModel" name="playerid">
    </mat-form-field>

    <mat-slide-toggle [(ngModel)]="transfer.loan" required #loan="ngModel" name="loan">
        Loan
    </mat-slide-toggle>

</form>
@if(formEditTransfer.valid) {
  <button mat-raised-button color="primary" (click)="updateTransfer()">Update Transfer</button>
}
}
@else {
  Loading...
}
</div>