<mat-card class="example-card" appearance="outlined">
  <div class="top-right-actions">
    <span (click)="deletePlayer()" class="action-icon delete-icon">
      <i class="fa-solid fa-trash-can"></i>
    </span>
    <span (click)="editPlayer(player.id)" class="action-icon edit-icon">
      <i class="fa-solid fa-pen"></i>
    </span>
  </div>

  <div class="image-container">
    <img mat-card-image [src]="'assets/img/' + player.image" alt="{{ player.image }}" />
  </div>

  <mat-card-content>
    <p>{{player.firstname}} {{player.lastname}}</p>
    <!-- <p>{{player.age}}</p> -->
    <p>{{player.dob}}</p>
    <p>{{player.pposition}}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>Club: <img style="height: 30px" [src]="'assets/svg/' + player.logo" alt="{{ player.logo }}"></button>
    <button mat-button>Country: <img style="height: 30px" [src]="'assets/svg/' + player.flag" alt="{{ player.flag }}"></button>
  </mat-card-actions>
</mat-card>
