<!-- <div class="example-button-row">
    <button mat-button routerLink="/club">←</button>
</div>
<div class="form-container">
    <h1>Add Club</h1>
<form [formGroup]="clubFormGroup">
    <div class="form-grid">
    <mat-form-field>
        <mat-label>Club name</mat-label>
        <input matInput type="text" [formControl]="cname">
    </mat-form-field><br/>
    <mat-form-field>
        <mat-label>League ID</mat-label>
        <input matInput type="text" [formControl]="leagueid">
    </mat-form-field><br/>
    <mat-form-field>
        <mat-label>Manager ID</mat-label>
        <input matInput type="text" [formControl]="managerid">
    </mat-form-field><br/>
    <mat-form-field>
        <mat-label>Stadium ID</mat-label>
        <input matInput type="text" [formControl]="stadiumid">
    </mat-form-field><br/>
    <mat-form-field>
        <mat-label>Logo</mat-label>
        <input matInput type="text" [formControl]="logo">
    </mat-form-field><br/>
    </div>
    <button mat-raised-button color="primary" (click)="addClub()">Add Club</button>
</form>
</div> -->
<div class="example-button-row">
    <button mat-button routerLink="/club">←</button>
</div>
<div class="form-container">
    <h1>Add Club</h1>
    <form [formGroup]="clubFormGroup">
        <div class="form-grid">
            <mat-form-field>
                <mat-label>Club name</mat-label>
                <input matInput type="text" [formControl]="cname">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>League ID</mat-label>
                <input matInput type="text" [formControl]="leagueid">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Manager ID</mat-label>
                <input matInput type="text" [formControl]="managerid">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Stadium ID</mat-label>
                <input matInput type="text" [formControl]="stadiumid">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Logo</mat-label>
                <input matInput type="text" [formControl]="logo">
            </mat-form-field>
        </div>
        <div class="button-container">
            <button mat-raised-button color="primary" (click)="addClub()">Add Club</button>
        </div>
    </form>
</div>