  <mat-card class="card" appearance="outlined">
    <div class="top-right-actions">
      <span (click)="openDialog(deleteDialog)" class="action-icon delete-icon">
        <i class="fa-solid fa-trash-can"></i>
      </span>
      <span (click)="editLeague(league.id)" class="action-icon edit-icon">
        <i class="fa-solid fa-pen"></i>
      </span>
    </div>
  
    <div class="image-container">
      <img mat-card-image [src]="'assets/svg/' + league.logo" alt="{{ league.logo }}" />
    </div>
  
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div class="list-content">
          <span matListItemTitle>League name:</span>
          <span matListItemLine>{{league.lname}}</span>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-content">
            <span matListItemTitle>Country:</span>
            <span matListItemLine><img style="height: 30px" [src]="'assets/svg/' + league.flag" alt="{{ league.flag }}"></span>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <!-- Dialog Content -->
<ng-template #deleteDialog>
  <h1 mat-dialog-title>Confirm Delete</h1>
  <div mat-dialog-content>
    <p>Are you sure you want to delete <span><b>{{ league.lname }}</b></span>?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button color="warn" (click)="confirmDelete()">
      <i class="fa-solid fa-trash-can"></i>
      Delete
    </button>
  </div>
</ng-template>



  