<mat-card class="example-card" appearance="outlined">
    <div class="top-right-actions">
      <span (click)="deleteStadium()" class="action-icon delete-icon">
        <i class="fa-solid fa-trash-can"></i>
      </span>
      <span (click)="editStadium(stadium.id)" class="action-icon edit-icon">
        <i class="fa-solid fa-pen"></i>
      </span>
    </div>
  
    <div class="image-container">
      <img mat-card-image [src]="'assets/img/' + stadium.image" alt="{{ stadium.image }}" />
    </div>
  
    <mat-card-content>
      <p>{{stadium.sname}}</p>
      <p>{{stadium.slocation}}</p>
      <p>{{stadium.capacity}}</p>
    </mat-card-content>
  
    <mat-card-actions>
      <!-- <button mat-button>Club: <img style="height: 30px" [src]="'assets/svg/' + stadium.logo" alt="{{ stadium.logo }}"></button> -->
      <!-- <button mat-button>Country: <img style="height: 30px" [src]="'assets/svg/' + stadium.flag" alt="{{ stadium.flag }}"></button> -->
    </mat-card-actions>
  </mat-card>
  