<!-- <p>edit-manager {{id}}</p>

<div>
    id: <input type="text" [(ngModel)]="manager.id">
</div>
<div>
    First name: <input type="text" [(ngModel)]="manager.firstname" required #firstname="ngModel">
    @if(firstname.invalid){
        <span>First name must be provided</span>
    }
</div>
<div>
    Last name: <input type="text" [(ngModel)]="manager.lastname" required #lastname="ngModel">
    @if(lastname.invalid){
        <span>Last name must be provided</span>
    }
</div>
<div>
    Age: <input type="text" [(ngModel)]="manager.age" required pattern="\d+" minlength="1" maxlength="2" #age="ngModel">
    @if(age.errors?.['required']){
        <div>Age is required</div>
    }
    @if(age.errors?.['pattern']){
        <div>Only digits</div>
    }
</div>
<div>
    Experience years: <input type="text" [(ngModel)]="manager.experienceyears" required pattern="\d+" minlength="1" maxlength="2" #experienceyears="ngModel">
    @if(experienceyears.errors?.['required']){
        <div>Manager id is required</div>
    }
    @if(experienceyears.errors?.['pattern']){
        <div>Only digits</div>
    }
</div>
<div>
    Country id: <input type="text" [(ngModel)]="manager.countryid" required pattern="\d+" minlength="1" maxlength="2" #countryid="ngModel">
    @if(countryid.errors?.['required']){
        <div>Country id is required</div>
    }
    @if(countryid.errors?.['pattern']){
        <div>Only digits</div>
    }
</div>
<div>
    Club id: <input type="text" [(ngModel)]="manager.clubid" required pattern="\d+" minlength="1" maxlength="2" #clubid="ngModel">
    @if(clubid.errors?.['required']){
        <div>Club id is required</div>
    }
    @if(clubid.errors?.['pattern']){
        <div>Only digits</div>
    }
</div>
@if(firstname.invalid || lastname.invalid || age.invalid || experienceyears.invalid || countryid.invalid || clubid.invalid) {
<button (click)="updateManager()">Update</button>
} -->
<div class="example-button-row">
    <button mat-button routerLink="/manager">←</button>
</div>
<div class="form-container">
    <h1>Edit Manager</h1>
@if(manager) {
    <form #formEditManager="ngForm">
    <mat-form-field>
      <mat-label>Manager Id</mat-label>
      <input matInput [(ngModel)]="manager.id">
    </mat-form-field>

    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput [(ngModel)]="manager.firstname" required #firstname="ngModel" name="firstname">
      @if(firstname.invalid){
        <span style="background-color: red;">First name must be provided</span>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input matInput [(ngModel)]="manager.lastname" required #lastname="ngModel" name="lastname">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput [(ngModel)]="manager.age" required #age="ngModel" name="age">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Experience Years</mat-label>
      <input matInput [(ngModel)]="manager.experienceyears" required #experienceyears="ngModel" name="experienceyears">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Country ID</mat-label>
      <input matInput [(ngModel)]="manager.countryid" required #countryid="ngModel" name="countryid">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Club ID</mat-label>
        <input matInput [(ngModel)]="manager.clubid" required #clubid="ngModel" name="clubid">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Image</mat-label>
        <input matInput [(ngModel)]="manager.image" required #image="ngModel" name="image">
    </mat-form-field>


</form>
@if(formEditManager.valid) {
  <button mat-raised-button color="primary" (click)="updateManager()">Update Manager</button>
}
}
@else {
  Loading...
}
</div>