<div class="row">
    <button mat-button routerLink="/manager">←</button>
</div>
<h1>Edit Manager</h1>
<div class="form-container">
  <img mat-card-image [src]="'assets/img/' + manager.image" alt="{{ manager.image }}" class="manager-image" />
  <p style="text-align: center;">Edit manager with manager id <span><b>{{manager.id}}</b></span></p>
    <form [formGroup]="managerEditFormGroup">
      <div class="form-grid">
    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput type="text" [formControl]="firstname" required [(ngModel)]="manager.firstname" name="firstname">
      @if(firstname.errors?.['pattern']) {
        <mat-error>Not a valid firstname</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input matInput type="text" [formControl]="lastname" required [(ngModel)]="manager.lastname" name="lastname">
      @if(lastname.errors?.['pattern']) {
        <mat-error>Not a valid lastname</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dob</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="dob" required [(ngModel)]="manager.dob" name="dob">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if(dob.invalid) {
          <mat-error>Not a valid date</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Country ID</mat-label>
      <input matInput 
      type="text" 
      [formControl]="countryid" 
      required 
      [(ngModel)]="manager.countryid" 
      name="countryid"
      pattern="\d+" minlength="1" max-length="2">
      @if (countryid.errors?.['required']) {
        <mat-error>Country id is required</mat-error>
      }
      @if (countryid.errors?.['pattern']) {
        <mat-error>Only digits</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Club ID</mat-label>
        <input 
        matInput 
        type="text" 
        [formControl]="clubid" 
        required 
        [(ngModel)]="manager.clubid" 
        name="clubid"
        pattern="\d+" minlength="1" max-length="2">
        @if (clubid.errors?.['required']) {
          <mat-error>Club id is required</mat-error>
        }
        @if (clubid.errors?.['pattern']) {
          <mat-error>Only digits</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>Image</mat-label>
        <input matInput type="text" [formControl]="image" required [(ngModel)]="manager.image" name="image">
        @if(image.errors?.['pattern']) {
          <mat-error>Image should be at least three characters and end on .png</mat-error>
        }
    </mat-form-field>
  </div>
  @if(
    firstname.invalid 
    || lastname.invalid 
    || dob.invalid 
    || countryid.invalid
    || clubid.invalid
    || image.invalid) {
    <mat-error>Error in data</mat-error>
}
@else {
<div class="button-container">
    <button mat-raised-button color="primary" (click)="updateManager()">Update Manager</button>
</div>
}
</form>
</div>