<div class="row">
  <button mat-stroked-button routerLink="/club">←</button>
</div>
<h1>Edit Club</h1>
<div class="form-container">
  <img mat-card-image [src]="'assets/svg/' + club.logo" alt="{{ club.logo }}" class="club-image" />
  <p style="text-align: center;">Edit club with club id <span><b>{{club.id}}</b></span></p>
    <form [formGroup]="clubEditFormGroup">
      <div class="form-grid">
    <mat-form-field>
      <mat-label>Club name</mat-label>
      <input matInput type="text" [formControl]="cname" required [(ngModel)]="club.cname" name="cname">
      @if(cname.errors?.['pattern']) {
        <mat-error>Not a valid club name</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>League ID</mat-label>
      <input matInput type="text" [formControl]="leagueid" required [(ngModel)]="club.leagueid" name="leagueid" pattern="\d+" minlength="1" max-length="2">
      @if(leagueid.errors?.['required']) {
        <mat-error>League id is required</mat-error>
      }
      @if (leagueid.errors?.['pattern']) {
        <mat-error>Only digits</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Manager ID</mat-label>
      <input matInput type="text" [formControl]="managerid" required [(ngModel)]="club.managerid" name="managerid" pattern="\d+" minlength="1" max-length="2">
      @if(managerid.errors?.['required']) {
        <mat-error>Manager id is required</mat-error>
      }
      @if (managerid.errors?.['pattern']) {
        <mat-error>Only digits</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Stadium ID</mat-label>
      <input matInput type="text" [formControl]="stadiumid" required [(ngModel)]="club.stadiumid" name="stadiumid" pattern="\d+" minlength="1" max-length="2">
      @if(stadiumid.errors?.['required']) {
        <mat-error>Stadium id is required</mat-error>
      }
      @if (stadiumid.errors?.['pattern']) {
        <mat-error>Only digits</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Logo</mat-label>
      <input matInput type="text" [formControl]="logo" required [(ngModel)]="club.logo" name="logo">
      @if(logo.errors?.['pattern']) {
        <mat-error>Logo should be at least three characters and end on .svg</mat-error>
      }
    </mat-form-field>
  </div>
  @if(
    cname.invalid
    || leagueid.invalid
    || managerid.invalid
    || stadiumid.invalid
    || logo.invalid) {
      <mat-error>Error in data</mat-error>
    }
    @else {
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="updateClub()">Update Club</button>
      </div>
    }
</form>
</div>