@if(authenticated) {
<div class="nav-container">
  <!-- Navigation Links -->
  <a mat-button [routerLink]="'/player'" routerLinkActive="active" class="tab-link">
    <span>Players</span>
  </a>
  <a mat-button [routerLink]="'/club'" routerLinkActive="active" class="tab-link">
    <span>Clubs</span>
  </a>
  <a mat-button [routerLink]="'/league'" routerLinkActive="active" class="tab-link">
    <span>Leagues</span>
  </a>
  <a mat-button [routerLink]="'/manager'" routerLinkActive="active" class="tab-link">
    <span>Managers</span>
  </a>
  <a mat-button [routerLink]="'/stadium'" routerLinkActive="active" class="tab-link">
    <span>Stadiums</span>
  </a>
</div>
<div class="logout-container">
  <button mat-raised-button color="warn" (click)="logout()" class="logout-button">
    Logout
  </button>
</div>
}
<div class="app-container">
  <router-outlet></router-outlet>
</div>