<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <!-- <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains"> -->
    <img class="w-50" [src]="'assets/svg/' + country.flag" alt="{{ country.cname }}">
    <span (click)="editCountry(country.id)">Edit</span>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{country.id}}{{country.cname}}</div>
      <p class="text-gray-700 text-base">
       
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">League id:</span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Country id: </span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Manager id: </span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Stadium id: </span>
    </div>
  </div>