<mat-card class="example-card" appearance="outlined">
  <div class="top-right-actions">
    <span (click)="deleteManager()" class="action-icon delete-icon">
      <i class="fa-solid fa-trash-can"></i>
    </span>
    <span (click)="editManager(manager.id)" class="action-icon edit-icon">
      <i class="fa-solid fa-pen"></i>
    </span>
  </div>

  <div class="image-container">
    <img mat-card-image [src]="'assets/img/' + manager.image" alt="{{ manager.image }}" />
  </div>

  <mat-card-content>
    <p>{{manager.firstname}} {{manager.lastname}}</p>
    <p>{{manager.age}}</p>
    <p>{{manager.experienceyears}}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button>Club: <img style="height: 30px" [src]="'assets/svg/' + manager.clubid" alt="{{ manager.clubid }}"></button>
    <button mat-button>Country: <img style="height: 30px" [src]="'assets/svg/' + manager.countryid" alt="{{ manager.countryid }}"></button>
  </mat-card-actions>
</mat-card>