<div class="row">
  <button mat-button routerLink="/stadium">←</button>
</div>
<h1>Edit Stadium</h1>
<div class="form-container">
  <img mat-card-image [src]="'assets/img/' + stadium.image" alt="{{ stadium.image }}" class="stadium-image" />
  <p style="text-align: center;">Edit stadium with stadium id <span><b>{{stadium.id}}</b></span></p>
    <form [formGroup]="stadiumEditFormGroup">
      <div class="form-grid">
        <mat-form-field>
          <mat-label>Stadium name</mat-label>
          <input matInput type="text" [formControl]="sname" required [(ngModel)]="stadium.sname" name="sname">
          @if(sname.invalid) {
            <span class="error-text">Stadium name must be provided</span>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Location</mat-label>
          <input matInput type="text" [formControl]="slocation" required [(ngModel)]="stadium.slocation" name="slocation">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Capacity</mat-label>
          <input matInput type="text" [formControl]="capacity" required [(ngModel)]="stadium.capacity" name="capacity" pattern="\d+" minlength="1" max-length="2">
          @if (capacity.errors?.['required']) {
            <mat-error>Capacity is required</mat-error>
          }
          @if (capacity.errors?.['pattern']) {
            <mat-error>Only digits</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Club ID</mat-label>
          <input matInput type="text" [formControl]="clubid" required [(ngModel)]="stadium.clubid" name="clubid" pattern="\d+" minlength="1" max-length="2">
          @if (clubid.errors?.['required']) {
            <mat-error>Club id is required</mat-error>
          }
          @if (clubid.errors?.['pattern']) {
            <mat-error>Only digits</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Image</mat-label>
          <input matInput type="text" [formControl]="image" [(ngModel)]="stadium.image" name="image">
          @if(image.errors?.['pattern']) {
            <mat-error>Image should be at least three characters and end on .png</mat-error>
          }
        </mat-form-field>
      </div>
      @if(sname.invalid || slocation.invalid || capacity.invalid || clubid.invalid || image.invalid) {
        <mat-error>Error in data</mat-error>
      }
      @else {
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="updateStadium()">Update Stadium</button>
      </div>
      }
    </form>
</div>