  <mat-card class="card" appearance="outlined">
    <div class="top-right-actions">
      <span (click)="openDialog(deleteDialog)" class="action-icon delete-icon"> 
        <i class="fa-solid fa-trash-can"></i>
      </span>
      <span (click)="editClub(club.id)" class="action-icon edit-icon">
        <i class="fa-solid fa-pen"></i>
      </span>
    </div>
  
    <div class="image-container">
      <img mat-card-image [src]="'assets/svg/' + club.logo" alt="{{ club.logo }}" />
    </div>
  
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <div class="list-content">
          <span matListItemTitle>Club name:</span>
          <span matListItemLine>{{club.cname}}</span>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-content">
          <span matListItemTitle>Manager:</span>
          <span matListItemLine>{{club.managerFirstname}} {{club.managerLastname}}</span>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <div class="list-content">
          <span matListItemTitle>League:</span>
          <span matListItemLine><img style="height: 30px" [src]="'assets/svg/' + club.leagueLogo" alt="{{ club.leagueLogo }}"></span>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  

<!-- Dialog Content -->
<ng-template #deleteDialog>
  <h1 mat-dialog-title>Confirm Delete</h1>
  <div mat-dialog-content>
    <p>Are you sure you want to delete <span><b>{{ club.cname }}</b></span>?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button color="warn" (click)="confirmDelete()">
      <i class="fa-solid fa-trash-can"></i>
      Delete
    </button>
  </div>
</ng-template>