  <div class="row">
    <button mat-button routerLink="/player">←</button>
  </div>
  <h1>Edit Player</h1>
  <div class="form-container">
    <img mat-card-image [src]="'assets/img/' + player.image" alt="{{ player.image }}" class="player-image" />
    <p style="text-align: center;">Edit player with player id <span><b>{{player.id}}</b></span></p>
    <form [formGroup]="playerEditFormGroup">
      <div class="form-grid">
      <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput type="text" [formControl]="firstname" required [(ngModel)]="player.firstname" name="firstname">
          @if(firstname.errors?.['pattern']) {
              <mat-error>Not a valid firstname</mat-error>
          }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name</mat-label>
        <input matInput type="text" [formControl]="lastname" required [(ngModel)]="player.lastname" name="lastname">
        @if(lastname.errors?.['pattern']) {
          <mat-error>Not a valid lastname</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Dob</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="dob" required [(ngModel)]="player.dob" name="dob">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if(dob.invalid) {
            <mat-error>Not a valid date</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Position</mat-label>
        <input matInput type="text" [formControl]="pposition" required [(ngModel)]="player.pposition" name="pposition">
        @if(pposition.errors?.['pattern']) {
          <mat-error>Not a valid position</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Club ID</mat-label>
        <input matInput type="text" [formControl]="clubid"
        [(ngModel)]="player.clubid" name="clubid" 
        required pattern="\d+" minlength="1" max-length="2">
        @if (clubid.errors?.['required']) {
            <mat-error>Club Id is required</mat-error>
        }
        @if (clubid.errors?.['pattern']) {
            <mat-error>Only digits</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Country ID</mat-label>
        <input matInput type="text" [formControl]="countryid"
        [(ngModel)]="player.countryid" name="countryid"
        required pattern="\d+" minlength="1" max-length="2">
        @if (countryid.errors?.['required']) {
            <mat-error>Country Id is required</mat-error>
        }
        @if (countryid.errors?.['pattern']) {
            <mat-error>Only digits</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Image</mat-label>
        <input matInput [formControl]="image" [(ngModel)]="player.image" name="image">
        @if(image.errors?.['pattern']) {
            <mat-error>Image should be at least three characters and end on .png</mat-error>
        }
      </mat-form-field>
  </div>
  @if(
      firstname.invalid 
      || lastname.invalid 
      || dob.invalid 
      || pposition.invalid
      || clubid.invalid
      || countryid.invalid
      || image.invalid) {
      <mat-error>Error in data</mat-error>
  }
  @else {
  <div class="button-container">
      <button mat-raised-button color="primary" (click)="updatePlayer()">Update Player</button>
  </div>
  }
</form>
</div>
