
  <div class="example-button-row">
    <button mat-button routerLink="/player">←</button>
  </div>
  <div class="form-container">
    <h1>Edit Player</h1>
    <form #formEditPlayer="ngForm">
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input matInput [(ngModel)]="player.id">
    </mat-form-field>

    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput [(ngModel)]="player.firstname" required #firstname="ngModel" name="firstname">
      @if(firstname.invalid){
        <span style="background-color: red;">First name must be provided</span>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Lastname</mat-label>
      <input matInput [(ngModel)]="player.lastname" required #lastname="ngModel" name="lastname">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput [(ngModel)]="player.age" required #age="ngModel" name="age">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Position</mat-label>
      <input matInput [(ngModel)]="player.pposition" required #pposition="ngModel" name="pposition">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Club ID</mat-label>
      <input matInput [(ngModel)]="player.clubid" required #clubid="ngModel" name="clubid">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Country ID</mat-label>
      <input matInput [(ngModel)]="player.countryid" required #countryid="ngModel" name="countryid">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Image</mat-label>
      <input matInput [(ngModel)]="player.image" required #image="ngModel" name="image">
    </mat-form-field>

</form>
@if(formEditPlayer.valid) {
  <button mat-raised-button color="primary" (click)="updatePlayer()">Update Player</button>
}
</div>
